frontend/node_modules/
backend/venv/
backend/.idea/
backend/.venv/
backend/__pycache_/
_pycache_/
.DS_Store
frontend/.nuxt/
frontend/.vscode/
frontend/.output/
backend/.DS_Store/
frontend/.DS_Store/
**/__pycache__/git